{% extends "base.html.twig" %}

{% block title %}Nos Articles{% endblock %}

{% block body %}
    <h2>Nos Articles</h2>

    {% if block ("footer") %}
     <p>tu as refait un footer ? PK ?</p>
    {% endif %}

{% endblock %}

{% block footer %}Je suis un footer {% endblock %}

