{% extends "base.html.twig" %}

{% block title %}Nos Articles{% endblock %}

{% block body %}
    <h2>Nos Articles</h2>

    <a href="{{ path("home_page")}}">
        Vers Page d'accueil
    </a>
{% endblock %}




