{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block body %}<h2>Page d'accueil</h2>{% endblock %}

{% block bidule %}
    <p>Surcharge du Block Bidule de la base </p>
{% endblock %}

