
{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ name  }}</h1>
    <h2>Nos Jeux</h2>

    <hr>
    {# Le nom game n'a pas d'importance c'est une variable qui n'existe que dans cette boucle 
     par contre games viens de la vue , c'est notre tableau   #}
    {% for game in games %}

        <h3>{{game}}</h3>

        <p>prix</p>

    {% endfor %}

</div>
{% endblock %}