<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>YesCode - {% block title %}{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<h1>Bienvenue sur Yes Code - Bannière</h1>

		{% block bidule %}
			<p>Dans la base</p>
		{% endblock %}

		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}

        <footer>
        {% block footer %}Copyright - 2021 - loicPothin{% endblock %}
        </footer>
	</body>

</html>
