<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>YesCode - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Bienvenue sur Yes Code - Bannière</h1>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
