{% extends 'base.html.twig' %}

{% block title %}Publier un article{% endblock %}

{% block body %}
 
    <div class="container">
        <h1 class="my-5 text-center ">Créer un article</h1>

        <div class="col-8 m-auto ">
          {{form(form)}}
        </div>

        
     </div>


    

{% endblock %}