{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
 
    <div class="container ">
        <h1 class="my-5 text-center text-white bg-info p-2 rounded-pill">Modifier l'article </h1>

        <div class="col-8 m-auto ">
          {{form(form)}}
        </div>
  
     </div>

{% endblock %}